<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rideshare.member.mapper.MemberMapper">
    <insert id="join" useGeneratedKeys="true" keyProperty="mId">
        insert into member
            (id, pw, nickname, email, auth_code, auth_status, authority)
        values
            (#{id}, #{pw}, #{nickname}, #{email}, #{authCode}, #{authStatus}, #{authority})
    </insert>

    <select id="findAuthCodeById" resultType="int">
        select auth_code from member
        where id=#{id}
    </select>

    <update id="updateAuthStatus">
        update member set auth_status=true where id=#{id}
    </update>

    <select id="findMemberById" resultType="com.rideshare.member.domain.Member">
        select m_id, id, pw, nickname, email, auth_code, auth_status, authority from member
        where id=#{id}
    </select>

    <select id="findMemberByMId" resultType="com.rideshare.member.domain.Member">
        select m_id, id, pw, nickname, email, auth_code, auth_status, authority from member
        where m_id=#{mId}
    </select>

    <select id="idCheck" resultType="boolean">
        select exists(select 1 from member where id=#{id});
    </select>

    <select id="emailCheck" resultType="boolean">
        select exists(select 1 from member where email=#{email});
    </select>

    <select id="nicknameCheck" resultType="boolean">
        select exists(select 1 from member where nickname=#{nickname});
    </select>


</mapper>